@model IEnumerable<MoviesRental.Models.Register>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registry</h2>

<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Customer
        </th>
        <th>
            Borrowed On
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Movie
        </td>
        <td>
            @item.Customer
        </td>
        <td>
            @item.BD
        </td>
    </tr>
}

</table>
