<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("MVC Movie Rental", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })            
            @Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>